:root{
    --primary-color:#FFFFFF;
    --secondary-color:#ECECED;
    --degradet-top-color:#011131;
    --degradet-middle-color:#01153B;
    --degradet-bottom-color:#000B23;
    --caixa-comentario-color:#2F3C5C;
    --fonte-footer-color:#93DFFA;
    --fonte-noticias-color:#0486F2;
    --fonte-data-noticias-color:#054E8E;
    --neutral-white:#FFFFFF;
    --neutral-black:#000000;

}